extends navbar

block boisson_details
    .col-md-4.mb-4
    .card
        img.card-img-top(src=data.image_url, alt="" style="height: 400px; object-fit: contain; width: auto;")
        .card-body
            h5.card-title= data.name
            span Tag-line: #{data.tagline}
            p.card-text Description: #{data.description}
            p.card-text Taux d'alcool: #{data.abv}
            p.card-text First brewed on #{data.first_brewed}
            a.btn.btn-primary(href=`boisson-details/#{data.id}`) #{data.name}